* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 16px;
  text-align: center;
}
.attribution a {
  color: white;
}
.itemBeschreibung {
  display: flex;
  padding: 10vh;
  justify-content: center;
  border-radius: 20px;
}
div img {
  display: flex;
  height: 100%;
  max-height: 550px;
  border-radius: 20px 20px 0 20px;
}
body {
  text-align: center;
  background-color: hsl(158, 36%, 37%);
}
.itemBeschreibung {
  width: 0 1440px;
}
article {
  box-shadow: 0 0 15px 15px rgb(88, 55, 55);
  background-color: white;
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 730px;
  border-radius: 20px;
}
article div:first-of-type {
  order: 1;
}
.text h1 {
  margin-top: 30px;
  font-size: 2.5rem;
}
.text p:first-of-type {
  opacity: 0.6;
  letter-spacing: 4px;
}
.text {
  padding: 0 80px 0 35px;
  text-align: left;
  font-size: 1.1rem;
}
.beschreibungP {
  padding: 30px 0 30px 0;
  font-size: 1.2rem;
  opacity: 0.8;
}
.preis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 0;
}
.preis li {
  list-style-type: none;
  font-size: 2.5rem;
  font-weight: bold;
  color: grey;
}
.preis li:last-of-type {
  font-size: 1rem;
  text-decoration: line-through;
  opacity: 0.6;
}
.button {
  display: flex;
  flex-direction: column;
}
.button button {
  background-color: grey;
  border-radius: 10px;
  padding: 15px 0;
  margin: 25px 0 0 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 1s;
}
.button button:hover {
  transition: all 1s;
  box-shadow: 0 0 3px 3px grey;
}
